
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
    margin: 0;
}

.login-card {
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-card-header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .login-card-header h2 {
        font-size: 1.8rem;
        font-weight: bold;
    }

.login-card-body {
    padding: 30px;
}

.alert-danger {
    background-color: #ff4d4d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 1rem;
    color: #003366;
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 2px solid #003366;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.btn {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

    .btn:hover {
        color: rgb(193, 193, 193);
        background-color: #005bb5;
    }

.form-button {
    margin-top: 20px;
}



@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
