body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    text-align: center;
}

/* ----- Página principal ----- */

.banner {
    background-image: url(../img/siteImages/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px;
    height: 100px;
    margin-bottom: 35px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));       
    padding: 50px 0px;
    gap: 25px;
}

     .contenedor article {         
        border: 3px solid black;
        border-radius: 5px;
        padding: 10px 0px; 
        margin-bottom: 25px; 
    } 

        .contenedor article p {
            padding: 10px 0;
            text-align: center;
        }

.imagenes {
    max-width: 400px;
    margin: 0 auto; 
}

.contenedor article a {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 12px; 
    margin-top: 15px;
    transition: background-color 0.25s, color 0.25s;
}

    .contenedor article a:hover {
        background-color: rgb(24, 13, 105);
        color: white;
    }

#logo2 {
    width: 250px;
    margin-bottom: 40px;
}

.iconosInfo {
    display: flex;
    justify-content: space-around; 
    align-items: center;    
    margin: 150px auto; 
    padding: 0px 20px;
}

.seccionIcono {
    text-align: center;
    max-width: 300px; 
    margin: 20px; 
}

    .seccionIcono img {
        width: 100px;
        aspect-ratio: 1/1;
        margin-bottom: 15px;
    }



/* ----- Footer ----- */  

footer {
    background-image: url(../img/siteImages/fondoTrama.png);
    background-size: cover;
    padding: 10px 0;    
}


.contacto-redes {
    flex-direction: initial;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto 20px auto;
    color: white;
    padding: 0 20px;
}

    .contacto-redes > div { 
        min-width: auto;
        margin: 20px 130px; 
    }

    .contacto-redes h4 {
        margin: 10px;
        color: #777;
    }

    .contacto-redes ul {
        list-style-type: none;
        padding: 10px;
        margin-right: 15px;
    }

    .contacto-redes li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .contacto-redes img { 
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }

.logoFooter {
    display: block;
    margin: 20px auto 10px auto; 
    width: 50px;
}

.pFooter, .pFooter2 { 
    font-size: 12px;
    color: #777;
    margin: 5px 0; 
}


/*-----Pagina Nosotros-----*/

/*body*/

.nosotros h2 {
    color: white;
    background-color: rgb(24, 13, 105);
    border-radius: 5px;
}

#logo2Nosotros {
    height: 200px; 
    width: 400px;
    border-radius: 25px;
}


/*-----MediaQuery-----*/

/* mediaQuery para celulares */
@media (max-width: 767px) {

    .logo {
        margin-top: 35px;
    }

    #logo {
        max-width: 120px;
    }

    #navHeader {
        display: none;
    }

    .menuHambur {
        margin-top: 60px;
        display: block;
    }

    .contenedor {
        display: block;
        margin: 0 10px;
    }

    .iconosInfo {
        display: inline-block;
        margin: 0;
        align-items: center;
    }

    .seccionIcono {
        margin: 50px 0px;
    }


    #contacto, #redes {
        text-align: center;
        margin: 10px 0;
    }

        #redes li {
            display: inline-block;
            margin: 20px;
            align-items: center;
        }

    .logoFooter {
        width: 40px;
    }

    .formularioAdmin {
        margin-left: -25px;
        margin-top: -200px;
    }

    .contenedorAbm {
        display: block;
        max-width: 300px;
    }

    #logo2Nosotros {        
    height: 100px; 
    width: 200px;
    border-radius: 25px;

    }
}

/* mediaQuery para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    #navHeader {
        display: block;
        text-align: center;
    }

    .contenedor {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        margin: 0 20px;
    }

    .iconosInfo {
        justify-content: center;
        margin: 0 auto;
    }

    .seccionIcono {
        margin: 40px;
    }

    .contacto-redes {
        flex-direction: initial;
    }

    #contacto, #redes {
        text-align: center;
        margin: 10px 0;
    }

        #redes ul {
            list-style-type: none;
            padding: 0;
            margin-left: 0px;
        }
}

/* mediaQuery para monitores */
@media (min-width: 1025px) and (max-width: 1366px) {
    .contenedor {
        grid-template-columns: repeat(3, 1fr);        
        margin: 0 0px;
        
    }

    .iconosInfo {
        justify-content: space-between;
        margin: 0 auto;
    }

    .seccionIcono {
        margin: 60px;
    }
  
}

/* mediaQuery para grandes pantallas */
@media (min-width: 1367px) {

    .iconosInfo {
        justify-content: space-between;
        margin: 0 auto;
    }

    .seccionIcono {
        margin: 80px;
    }

    .contacto-redes {
        flex-direction: initial;        
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 auto 20px auto;
        color: white;
        padding: 0 20px;
    }

    #contacto, #redes {
        text-align:initial;
        margin: 10px 0;
    }

        #redes ul {            
            padding: 10px;            
        }
}
